@import url(https://fonts.googleapis.com/css?family=Bitter:400,700);

#menu-0 .navbar-toggler {
  color: #000000;
}
#header1-1 H1 {
  text-align: center;
  color: #fff8e0;
}
#content5-4 DIV {
  text-align: left;
  font-family: 'Bitter', serif;
}
